<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.circulate.mapper.THelpLendbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.circulate.entity.THelpLendback">
        <id column="id" property="id" />
        <result column="holding_id" property="holdingId" />
        <result column="lend_id" property="lendId" />
        <result column="reader_id" property="readerId" />
        <result column="box_id" property="boxId" />
        <result column="due_time" property="dueTime" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="holding_lib_id" property="holdingLibId" />
        <result column="reader_lib_id" property="readerLibId" />
    </resultMap>

</mapper>
