<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.circulate.mapper.TNoticeReadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.circulate.entity.TNoticeRead">
        <id column="id" property="id" />
        <result column="notice_info_id" property="noticeInfoId" />
        <result column="user_id" property="userId" />
        <result column="read_status" property="readStatus" />
        <result column="read_time" property="readTime" />
    </resultMap>

</mapper>
