<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.circulate.mapper.TPrelendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.circulate.entity.TPrelend">
        <id column="id" property="id" />
        <result column="holding_id" property="holdingId" />
        <result column="prelend_time" property="prelendTime" />
        <result column="due_lend_time" property="dueLendTime" />
        <result column="prelend_status" property="prelendStatus" />
        <result column="reader_id" property="readerId" />
        <result column="lib_id" property="libId" />
    </resultMap>

</mapper>
