<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.circulate.mapper.TReaderCreditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.circulate.entity.TReaderCredit">
        <id column="id" property="id" />
        <result column="reader_id" property="readerId" />
        <result column="before_deduct_credit_value" property="beforeDeductCreditValue" />
        <result column="remark" property="remark" />
        <result column="deduct_score_time" property="deductScoreTime" />
        <result column="deduct_score" property="deductScore" />
        <result column="deduct_score_reason" property="deductScoreReason" />
        <result column="after_deduct_credit_value" property="afterDeductCreditValue" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
