<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.user.mapper.TPeopleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.user.entity.TPeople">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="sex" property="sex" />
        <result column="card_number" property="cardNumber" />
        <result column="card_type" property="cardType" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="icon" property="icon" />
        <result column="nick_name" property="nickName" />
        <result column="signature" property="signature" />
        <result column="birthday" property="birthday" />
    </resultMap>

</mapper>
