<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.user.mapper.TRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.user.entity.TRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
        <result column="lib_id" property="libId" />
        <result column="org_type" property="orgType" />
        <result column="create_by" property="createBy" />
        <result column="create_name" property="createName" />
        <result column="create_account" property="createAccount" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
