<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szcti.lcloud.purchase.mapper.TBackPurchaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szcti.lcloud.purchase.entity.TBackPurchase">
        <id column="id" property="id" />
        <result column="purchase_code" property="purchaseCode" />
        <result column="back_code" property="backCode" />
        <result column="operator_id" property="operatorId" />
        <result column="create_time" property="createTime" />
        <result column="lib_id" property="libId" />
        <result column="total_price" property="totalPrice" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
